{% extends "base.html" %}

{% block content %}
<div class="col-md6 border rounded">
    <h1 style="color: white">My profile</h1>
    <p><h2 style="color: white">Name: {{ current_user.name }}</h2> </p>
    <p><h2 style="color: white">About: {{ current_user.about }}</h2></p>
</div>
<div class="col-md6 border rounded">
    <h2 style="color: white">Posts</h2>
    {% for item in news%}
        {% if current_user.is_authenticated %}
            {%if current_user == item.user %}
            <div style="color: white">
                {{item.content}}
            </div>

            <div>
                <img src="/static/img/{{item.img}}" alt="здесь должна была быть картинка, но не нашлась">
            </div>
            {%endif%}
        {%endif%}
    {% endfor %}
</div>
{% endblock %}